@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background-image: url(img/plano\ de\ fundo\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

footer{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.tamanhoSecao{
    margin: 4% 15%
}


/*Cabeçalho*/
.menuNavegacao{
    display: flex;
    align-items: center;
}
.menu-nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    
    
}
.logo{
    display: flex;
    align-items: center;
    list-style-type: none;
    
}
.menuNavegacao ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    display: flex;
}

.navIten{
    margin: 0 15px ;
    width: 1px;
    height: 1px;

}
.mobileMenu{
    display: none;
}
.mobileIcon{
    display: none;
}
.cabecalho{
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.saudacao{
    font-size: 12px;
}
.nome{
    font-size: 30px;
}

/*Responsividade Menu Navegação*/
@media screen and (max-width:730px) {
    .menu-nav{
        padding: 1.5rem 4rem;
    }
    .navIten{
        display: none;
        
    }
    .mobileIcon{
        display: flex;
        
    }
    .mobileIcon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobileMenu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        list-style: none;
        
    }
    .mobileMenu .navIten{
        display: block;
        padding-top: 5rem;
        list-style: none;
        
        
    }
    .open{
        display: block;
    }
}

/*Responsividade Cabeçalho*/
@media screen and (max-width:500px){
    .cabecalho{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}